body {
    text-align: left;
    font-family: 'Ink free', cursive;
    color: white;
  background: #c0d3ff;
}


#pen_image {
    height: 500px;
    width: 500px;
}
#bag {
    height: 500px;
    width: 500px;
}
div {
    background: #ffd2c7;
    padding: 10px;
    margin-top: 15px;
    border: 3px solid white;
}